.product-card-wrapper {
  min-width: 200px;
  max-width: 300px;
  width: 100%; 
  
  min-height: 200px;
  max-height: 300px;
  height: auto; 
  
  border-radius: 12px;
  background-color: #ffffff;
  border: 2px solid black;
  
  display: flex;
  flex-direction: column;
  
  margin: 20px;

  overflow: hidden;
}

.product-card-wrapper img {
  height: 45%;
  width: 100%;
  object-fit: fill;  
}

.product-information {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px;
}

.product-data-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-data {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.product-price {
  font-weight: 700;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
}

.eye-button, .saved-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #3c6e71;
  transition: 0.5s ease-in-out;
}

.saved-button {
  background-color: #284b63;
}

.eye-button:hover, .saved-button:hover {
  cursor: pointer;
}

.eye-button i, .saved-button i {
  color: white;
}

.user-card, .user-data {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-icon, .star-icon {
  font-size: 14px;
}

.star-icon {
  color: #f6ae2d;
}

.user-icon:hover {
  cursor: pointer;
}

.user-card-username:hover {
  cursor: pointer;
  text-decoration: underline;
}