<section class="chat-wrapper">
  <div class="sidebar">
    <h3 class="header">Chats</h3>
    @if (user?.rooms?.length === 0) {
      <h1>No chats available!</h1>
    } @else {
      @for (room of user?.rooms ; track $index) {
        <div class="chat-item">

          @if (editingId === room._id && isEditing) {
            <input
            class="edit-input"
            type="text" #chatNameInput
            [value]="room.name" 
            pattern="[a-zA-Z0-9]{3,}" 
            placeholder="Enter chat name:">
            <button (click)="confirmEdit(chatNameInput.value, room._id)" class="confirm-button">Confirm</button>
            <button (click)="toggleEditMode(room._id)" class="edit-button">Cancel</button>
          } @else {
            <h1 [routerLink]=" '/chat/' + room.product + '/' + room._id "> {{ room.name }} </h1>
          }

          @if ( room.owner === user?._id && !isEditing) {
            <button (click)="toggleEditMode(room._id)" class="edit-button">Edit</button>
          }

        </div>
      }
    }
  </div>
  
  <div class="chat-container">
    <h1 class="header">Welcome, to <span class="room-name">{{ room?.name }}</span></h1>
    <div class="message-wrapper" #messageWrapper >
      @if ( isLoadingMessages ) {
        <app-loader/>
      } @else {

        @for (message of messages; track $index) {
          <div 
          [class]="message.sentBy === user?._id ? 'message sent' : 'message received' "
          (mouseover)="handleHover(message._id, true)"
          (mouseleave)="handleHover(message._id, false)"
          >
  
            @if (isEditingMessage && editingMessageId === message._id) {
              <input class="edit-message-input" #editMessageInput type="text" [value]="message.text" placeholder="Edit your message:">
              <small>{{ message.created_at | time }}</small>

            } @else {

              <p>{{ message.sender?.username || "Anonymous" }}: {{ message.text }}</p>
              <small>{{ message.created_at | time }}</small>
              
            }
  
            @if (user?._id === message.sentBy && hoveringId === message._id) {
              <div class="owner-buttons">
                @if (!isEditingMessage) {
                  <button class="edit-button" (click)="editMessage(message._id)">Edit</button>
                  <button class="delete-button" (click)="deleteMessage(message._id)">Delete</button>
                } @else {
                  <button class="confirm-button" (click)="confirmEditMessage(message._id)">Confirm</button>
                  <button class="cancel-button" (click)="cancelEditMessage()">Cancel</button>
                  <button class="delete-button" (click)="deleteMessage(message._id)">Delete</button>
                }
              </div>
            }
  
          </div>
        }
      }
  
    </div>
  
    <div class="input-area">

      <input type="text" placeholder="Type a message..." #messageInput />
      <button class="submit-button" (click)="sendMessage(messageInput)">Send</button>

    </div>
  </div>
</section>