.chat-wrapper {
  display: flex;
}

.sidebar {
  width: 25%;
  min-height: 75vh;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  padding: 10px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-wrapper {
  padding: 30px;
  background-color: #fafafa;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 75vh;
  min-height: 75vh;
}

.message {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  max-width: 50%;
  min-width: 200px;
  word-wrap: break-word; 
  word-break: break-word; 
}

.owner-buttons {
  display: none;
  position: absolute;
  top: -20px;  
  right: 0;
  background-color: #333;
  color: white;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  gap: 5px;
  z-index: 2;
}

.delete-button, .edit-button, .confirm-button, .cancel-button {
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid white;
  transition: background-color 0.2s;
}

.delete-button {
  background-color: #CE4760;
}

.edit-button {
  background-color: #6c757d;
}

.confirm-button {
  background-color: #28a745;
}

.cancel-button {
  background-color: #6c757d;
}

.edit-input {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid white;
  width: 80px;
}

.message.sent {
  align-self: flex-end;
  background-color: #d1e7dd;
}

.message.received {
  align-self: flex-start;
  background-color: #e2e3e5;
}

.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.input-area input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-area button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.chat-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 275px; 
  overflow: hidden;
}

.chat-item:hover {
  background-color: #f0f0f0;
}

.header {
  text-align: center;
}

.room-name {
  color: #007bff;
}

edit-message-input {
  width: 40px;
  padding: 3px;
  border-radius: 6px;
  margin-right: 3px;
}