<section class="details-section">

  <img [src]='product?.image' class="product-image" alt="Product Image Failed Loading">

  <div class="product-data-wrapper">

    <h1 class="header">{{ product?.name }}</h1>

    <div class="data-group">
      <h2>Price: ${{ product?.price }}</h2>
      <h2>Qnt: {{ product?.quantity }}</h2>
      <h2>Description: {{ product?.description }}</h2>
    </div>
    <div class="buttons-wrapper">

      @if (user?._id === product?._ownerId) {
        <div class="owner-buttons">
          <button [routerLink]="'/product/edit/' + product?._id" class="button edit">Edit</button>
          <button (click)="deleteProduct(product?._id)" class="button delete">Delete</button>
        </div>
      } @else {
        <button (click)="startChat(product?._id, product?._ownerId)" class="button chat-button"><i class="fa-regular fa-comment"></i></button>
      }

    </div>

  </div>
</section>